<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  {{ title }}!
  </h1>
 </div>
 <nav>
  <a routerLink="/heroes">Heroes</a>
</nav>
 <router-outlet></router-outlet>
<app-messages></app-messages>


